<mat-toolbar style="background-color: orange">
  <span>
    Park Pickup Group Finder
  </span>

  <!--Logged Out Panel-->
  <span class="space"></span>
  <span *ngIf="!isLoggedIn">
    <button  mat-button (click)="navigateTo('login')">Login</button>
    <button mat-button (click)="navigateTo('register')">Register</button>
  </span>

  <!--Logged In Panel-->
  <span *ngIf="isLoggedIn">
    <button mat-button (click)="logout()">Logout</button>
    <span fxFlex="1 1 auto">{{currentUser}}</span>
  </span>
</mat-toolbar>
